body {
  background: White;
  margin: 0;
  padding: 0;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 14px 0px;
    overflow: hidden;
    background-color: #333;
	border-top: 1px solid white;
	position: fixed;
    top: 0;
    width: 100%;
}

.nav li {
    float: left;
	font-family: Helvetica;
	color: white;

}
li:last-child {
	padding-right: 10px;
}
.nav a:link, a:visited {
    color: White;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
	border-right: 1px solid #bbb;

}

.nav a:hover, a:active {
    background-color: Red;
	color: Gainsboro;
}
.active {
    background-color: Crimson;
}
/*.nav a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
*/
h1 {
	color: Black;
	font-family: Arial;
	text-align: center;
}

p {
	color: Gray;
	font-family: Helvetica;
	text-align: center;
}

.welcome {
	font-size: 16;
}

.twitter-timeline {
	margin: 5px 7px;
	border: 2px solid Black;
}
