body {
  background: White;
  margin: 0;
  padding: 0;
}



.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 16px 0px;
    overflow: hidden;
    background-color: #333;
	  position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav li {
    float: left;
	  font-family: Helvetica;
	  color: white;



}

.maintext ul {
    list-style-type: disc;
    list-style-position: inside;
    text-align: center;
    padding-left: 0;
    color: black;

}

.maintext li{
    font-family: Helvetica;

}


li:last-child {
	padding-right: 10px;
}

.nav a:link, a:visited {
    color: White;
    padding: 17px 16px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color .7s;
    transition: background-color .7s;


}

.nav a:hover, a:active {
    background-color: Black;
	  color: White;
}
.active {
    background-color: Crimson;
    -webkit-transition: background-color .7s;
    transition: background-color .7s;
}
/*
.nav a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}*/

h1 {
	color: Black;
	font-family: Arial;
	text-align: center;
}

p {
	color: Gray;
	font-family: Helvetica;
	text-align: center;
}

