<!DOCTYPE html>
<html>
<head>
  <title>Frank Fierman AZA</title>

  <link href="/css/style.css" type="text/css" rel="stylesheet" />

<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>

<body>
  <div class="nav">
  <header>
    <ul>
      {% if page.cat == "home" %}
          <li><a href="/" class = "active">Home</a></li>
      {% else %}
	    <li><a href="/">Home</a></li>
      {% endif %}

      {% if page.cat == "board" %}
          <li><a href="/board" class = "active">Board</a></li>
      {% else %}
          <li><a href="/board">Board</a></li>
      {% endif %}

      {% if page.cat == "history" %}
          <li><a href="/history" class = "active">History</a></li>
      {% else %}
          <li><a href="/history">History</a></li>
      {% endif %}

      {% if page.cat == "signup" %}
          <li><a href="#" class="active">Forms</a></li>
      {% else %}
          <li><a href="#">Forms</a>
	    <ul><br>
		    <li><a href="/signups/flagfootball">Flag Football</a></li>
	    </ul>
	    </li>
      {% endif %}
<!--
      {% if page.cat == "calendar" %}
          <li><a href="/calendar" class = "active">Calendar</a></li>
      {% else %}
          <li><a href="/calendar">Calendar</a></li>
      {% endif %}
-->
      <li style="float:right">Frank Fierman AZA #2233</li>
    </ul>
	</header>

	</div>
	<br><br><br>

	{{content}}
</body>

<!-- vvv Mail List Popup vvv -->
<div> <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us11.list-manage.com","uuid":"3441a39e6ab9562066516b04c","lid":"e1aaf1338f"}) })</script> </div>
</html>
